In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Advertising.csv")

In [3]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
X = df.drop('sales',axis=1)

In [5]:
y = df['sales']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
scaler = StandardScaler()

In [12]:
scaler.fit(X_train)

StandardScaler()

In [13]:
X_train = scaler.transform(X_train)

In [14]:
X_test = scaler.transform(X_test)

In [15]:
from sklearn.model_selection import cross_validate

In [17]:
from sklearn.linear_model import Ridge

In [18]:
model = Ridge(alpha=100)

In [19]:
scores = cross_validate(model, X_train, y_train, scoring= ['neg_mean_squared_error', 'neg_mean_absolute_error'], cv=10)

In [20]:
scores = pd.DataFrame(scores)

In [21]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.004987,0.000997,-6.060671,-1.810212
1,0.000998,0.000998,-10.627031,-2.541958
2,0.000997,0.000000,-3.993426,-1.469594
3,0.001025,0.000000,-5.009494,-1.862769
4,0.000995,0.000000,-9.141800,-2.520697
5,0.001007,0.000000,-13.086256,-2.459995
6,0.000991,0.000000,-3.839405,-1.451971
7,0.000996,0.000000,-9.058786,-2.377395
8,0.000998,0.000000,-9.055457,-2.443344
9,0.000997,0.000000,-5.778882,-1.899797

In [22]:
scores.mean()

fit_time                        0.001399
score_time                      0.000200
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [23]:
model = Ridge(alpha=1)

In [24]:
scores = cross_validate(model, X_train, y_train, scoring= ['neg_mean_squared_error', 'neg_mean_absolute_error'], cv=10)

In [25]:
scores = pd.DataFrame(scores)

In [26]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.000988,0.0,-2.962508,-1.457174
1,0.000975,0.0,-3.057378,-1.555308
2,0.001030,0.0,-2.173740,-1.238770
3,0.000992,0.0,-0.833034,-0.768938
4,0.000998,0.0,-3.464018,-1.434489
5,0.000997,0.0,-8.232647,-1.494316
6,0.000969,0.0,-1.905864,-1.081362
7,0.000000,0.0,-2.765048,-1.250011
8,0.000000,0.0,-4.989505,-1.580971
9,0.000000,0.0,-2.846438,-1.223326

In [27]:
scores.mean()

fit_time                        0.000695
score_time                      0.000000
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

In [28]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [29]:
y_final_pred = model.predict(X_test)

In [30]:
from sklearn.metrics import mean_squared_error

In [31]:
mean_squared_error(y_test, y_final_pred)

2.3190215794287514